<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CASA -->
      <package
            uri="http://www.casa.com"
            class="CASA.CASAPackage"
            genModel="src/thesis/CASA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CASA -->
      <package
            uri="http://www.casa.com/cvss"
            class="CASA.CVSS.CVSSPackage"
            genModel="src/thesis/CASA.genmodel"/>
   </extension>

</plugin>
